---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<style>
  body {
    font-family: 'Arial', sans-serif; /* You can replace 'Arial' with any desired font */
    font-size: 16px; /* Sets the base font size */
  }

  a {
    font-size: 14px; /* Sets the size of links */
    color: #007bff; /* Optional: Sets the link color */
  }

  h1.page__title {
    font-size: 24px; /* Set a specific size for titles if needed */
  }
</style>

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
